<div class='footer'>
  <div class="extra-wrap">
    <ul class="soc_links follow-links">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-rss"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div class="copyright" style="bottom: 0px; opacity: 1;">© 2014 <a href="/wt_48221/privacy.html">Privacy Policy</a><br> </div>
  </div>
</div>
