<nav [hidden]="!submitted" class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="onToggle()" data-toggle="collapse" data-target="#mybuttons" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FIT MY BUDGET</a>
      <p class="navbar-text current-value pull-right hidden-lg hidden-md hidden-sm">
          {{calcCurrentValue()|currency:'EUR':true:'1.2-2'}}
        </p>
    </div>
    <div [ngClass]="{'collapse':true, 'navbar-collapse':true, 'in':isOpen}" id="mybuttons">
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text current-value">Stai Spendendo: {{calcCurrentValue()|currency:'EUR':true:'1.2-2'}}</p></li>
        <li><a href="#" (click)="onEdit()"><span class="glyphicon glyphicon-refresh"></span> Ricomincio</a></li>
        <li><a href="#" ><span class="glyphicon glyphicon-shopping-cart"></span> Acquisto</a></li>
      </ul>
    </div>
    </div>
  </nav>



<div [ngClass]="{'jumbotron':true,'to-close':submitted}" >
<div class="container" [hidden]="submitted">
        <div class="row">
          <div class="col-xs-12">
            <h1>FIT MY POCKET</h1>
            <hr style="color:black"/>
            <h2>FISSA IL TUO BUDGET E CERCA I PRODOTTI MIGLIORI A PREZZI IMBATTIBILI</h2>
            <br/>
          </div>
      </div>
      <div class="row hidden-xs hidden-sm">
          <div class="col-xs-12">
            <br/><br/><br/><br/>
          </div>
      </div>
       <div class="row hidden-xs hidden-sm">
         <div class="col-md-2 col-xs-1"><!--Column left--></div>
          <md-input autofocus type="number" placeholder="OGGI VOGLIO SPENDERE" class="col-xs-3 col-md-4" [(ngModel)]="model.value" >
            <span md-prefix>€&nbsp;</span>
          </md-input>
          <md-slide-toggle  class="col-xs-4 col-md-3" color="primary" style="">SOLO OFFERTE</md-slide-toggle>         
          <button md-button id="btn1" class="col-xs-2 col-md-1" (click)="onSubmit(undefined)"><span class="glyphicon glyphicon-search" style="color:#009688"></span> CERCA</button>
          <div class="col-md-2 col-xs-1"><!--Column right--></div>
               
       </div>
       <div class="row hidden-md hidden-lg">
          <md-input autofocus type="number" placeholder="OGGI VOGLIO SPENDERE" class="col-xs-12" >
            <span md-prefix>€&nbsp;</span>
            <span md-suffix>.00</span>
          </md-input>
       </div>
       <div class="row hidden-md hidden-lg">
          <md-slide-toggle  class="col-xs-7" color="primary">SOLO OFFERTE</md-slide-toggle>         
          <button md-button  id="btn2"  class="col-xs-3" (click)="onSubmit(undefined)"><span class="glyphicon glyphicon-search" style="color:#009688"></span> CERCA</button>
       </div>
</div> <!-- container -->
</div>
<div class="container top-margin ">
  <div [hidden]="!submitted" class="well well-sm">
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm" (click)="listView = true;"><span class="glyphicon glyphicon-th-list"></span> List</button> 
            <button id="grid" class="btn btn-default btn-sm" (click)="listView = false;"><span class="glyphicon glyphicon-th"></span> Grid</button>
        </div>
        <button id="pin" [ngClass]="{'pull-right':true, 'btn':true,'btn-sm':true,'btn-default':!model.forceDel,'btn-danger':model.forceDel}" (click)="model.forceDel=!model.forceDel"><span class="glyphicon glyphicon-exclamation-sign"></span> elimina senza conferma</button>

    </div> <!-- toolbar -->
     <div [hidden]="!submitted" id="products" class="row list-group" >
       <div [ngClass]="{'item':true,'list-group-item':listView,'grid-group-item':!listView}" class="col-xl-2 col-md-3 col-sm-4 col-xs-6 col-xxs-12" *ngFor="let myItem of list">
            <div class="thumbnail">
                <div class="ribbon blue" *ngIf="myItem.special"><span>special</span></div>
                <div class="ribbon red" *ngIf="myItem.discount"><span>-{{myItem.discount}}%</span></div>
                <div class="img-container">
                  <img class="group list-group-image image-responsive" src="{{getMainImgUrl(myItem.sku)}}" alt="" />
                </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{myItem.name}}</h4>
                    <p class="group inner list-group-item-text">{{getDescription(myItem.sku) | slice:0:100}}...</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 price">
                            <p class=""><b>{{myItem.price | currency:'EUR':true:'1.2-2'}}</b></p>
                        </div>
                        <div class="col-xs-12 col-sm-6">                     
                            <div class="input-group">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,-1)"><b>-</b></button>
                              </span>
                              <input type="number" class="form-control text-center" [(ngModel)]="myItem.qty" (ngModelChange)="onQtyChange(myItem.sku,$event)">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,1)"><b>+</b></button>
                              </span>
                            </div>
                        
                        </div>
                        <div class="col-xs-12 other-prices">
                            <span class="other-price" *ngIf="myItem.shipCost"><span class="glyphicon glyphicon-send"></span> {{myItem.shipCost | currency:'EUR':true:'1.2-2'}}</span>
                            <span class="other-price" *ngIf="!myItem.shipCost"><span class="glyphicon glyphicon-send"></span> {{0 | currency:'EUR':true:'1.2-2'}}</span>
                            <span class="other-price" *ngIf="myItem.BOPIS"><span class="glyphicon glyphicon-home"></span> {{0 | currency:'EUR':true:'1.2-2'}}</span>
                        </div>
                        <div class="col-xs-6">                            
                          <div class="btn-group">
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Love,'btn-success':model.similar[myItem.sku]===similarity.Love}" (click)="onSimilar(myItem.sku,true)"><span class="glyphicon glyphicon-heart"></span></button> 
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Hate,'btn-danger':model.similar[myItem.sku]===similarity.Hate}" (click)="onSimilar(myItem.sku,false)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                          </div>
                        </div>
                        <div class="col-xs-6">                            
                          <div class="btn-group">
                            <button id="delete" class="btn btn-default btn-sm" (click)="onDelete(myItem.sku)"><span class="glyphicon glyphicon-trash"></span></button> 
                            <button id="pin" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':!model.pin[myItem.sku],'btn-danger':model.pin[myItem.sku]}" (click)="onPin(myItem.sku)"><span class="glyphicon glyphicon-pushpin"></span></button> 
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

   
</div>


  


