<nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="onToggle()" data-toggle="collapse" data-target="#mybuttons" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FIT MY BUDGET</a>
      <p class="navbar-text current-value pull-right hidden-lg hidden-md hidden-sm">
          {{calcCurrentValue()|currency:'EUR':true:'1.2-2'}}
        </p>
    </div>
    <div [ngClass]="{'collapse':true, 'navbar-collapse':true, 'in':isOpen}" id="mybuttons">
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text current-value">Stai Spendendo: {{calcCurrentValue()|currency:'EUR':true:'1.2-2'}}</p></li>
        <li><a href="#" (click)="onEdit()"><span class="glyphicon glyphicon-refresh"></span> Ricomincio</a></li>
        <li><a href="#" ><span class="glyphicon glyphicon-shopping-cart"></span> Acquisto</a></li>
      </ul>
    </div>
    </div>
  </nav>








<div class="container top-margin ">
  <div class="well well-sm">
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm" (click)="listView = true;"><span class="glyphicon glyphicon-th-list"></span> List</button> 
            <button id="grid" class="btn btn-default btn-sm" (click)="listView = false;"><span class="glyphicon glyphicon-th"></span> Grid</button>
        </div>
        <button id="pin" [ngClass]="{'pull-right':true, 'btn':true,'btn-sm':true,'btn-default':!model.forceDel,'btn-danger':model.forceDel}" (click)="model.forceDel=!model.forceDel"><span class="glyphicon glyphicon-exclamation-sign"></span> elimina senza conferma</button>

    </div> <!-- end toolbar -->
     

<div class="wrapper wrapper-content animated fadeInRight">
<div id="products2" class="row">
    <div class="col-md-3 reduce-pad-dx-sx" *ngFor="let myItem of list">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="ribbon red" *ngIf="myItem.discount"><span>-{{myItem.discount}}%</span></div>
                <div class="product-imitation">
                    <div class="img-container" id="img-carsl">
                      <img class="image-responsive image-on" src="{{getMainImgUrl(myItem.sku)}}" alt="" />
                      <img class="image-responsive image-off" src="{{getOtherImgUrl(myItem.sku,1)}}" alt="" />
                    </div>
                </div>
                <div class="product-desc">
                    <span class="product-old-price">
                        {{myItem.oldPrice | currency:'EUR':true:'1.2-2'}}
                    </span>
                    <span class="product-price">
                        {{myItem.price | currency:'EUR':true:'1.2-2'}}
                    </span>
                    <small class="text-muted">{{myItem.category}}</small>
                    <span class="product-name"> {{myItem.name}}</span>

                    <div class="small m-t-xs">
                        {{getDescription(myItem.sku) | slice:0:120 }}
                    </div>
                    <div class="small">
                      <span class="other-price" *ngIf="myItem.shipCost"><span class="glyphicon glyphicon-send"></span> {{myItem.shipCost | currency:'EUR':true:'1.2-2'}}</span>
                      <span class="other-price" *ngIf="!myItem.shipCost"><span class="glyphicon glyphicon-send"></span> {{0 | currency:'EUR':true:'1.2-2'}}</span>
                      <span class="other-price" *ngIf="myItem.BOPIS"><span class="glyphicon glyphicon-home"></span> {{0 | currency:'EUR':true:'1.2-2'}}</span>
                    </div>
                    <div class="m-t text-righ">
                         <div class="btn-group">
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Love,'btn-success':model.similar[myItem.sku]===similarity.Love}" (click)="onSimilar(myItem.sku,true)"><span class="glyphicon glyphicon-heart"></span></button> 
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Hate,'btn-danger':model.similar[myItem.sku]===similarity.Hate}" (click)="onSimilar(myItem.sku,false)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                          </div>                          
                          <div class="btn-group pull-right">
                            <button id="delete" class="btn btn-default btn-sm" (click)="onDelete(myItem.sku)"><span class="glyphicon glyphicon-trash"></span></button> 
                            <button id="pin" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':!model.pin[myItem.sku],'btn-danger':model.pin[myItem.sku]}" (click)="onPin(myItem.sku)"><span class="glyphicon glyphicon-pushpin"></span></button> 
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>


  


