
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: transparent;
  border-color: transparent;
  border-image: none;
  border-style: none none none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
}


.product-box {
  padding: 0;
  border: 0px solid #e7eaec;
  background-color: #f8f8f9;
}
.product-box:hover,
.product-box.active {
  background-color: transparent;
  box-shadow: none;
  border: none;
}


.product-images {
  margin: 0 20px;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.product-imitation {
  text-align: center;
  padding: 45px 0;
  background-color: #ffffff;
  color: #bebec3;
  font-weight: 600;
}




.img-container {
    max-width: 100%;
    height: 115px;
}


/** end ibox **/

/** margins **/
.mxr-centered-margins { 
  margin: 0em 5em 0 5em; 
}

@media screen and (min-width: 1000px) {
  .mxr-centered-margins { 
    margin: 0em 15em 0 15em; 
  }
}