
.mxr-carousel{
    background-color: #efefef;
    margin-bottom: 0px;
}

.mxr-carousel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mxr-carousel li:first-child {
    background: none;
}
.mxr-carousel li {
    float: left;
    width: 5%;/* 5% di 500% = 25% dello screen */
    text-align: center;
    vertical-align: top;
    border-left:1px dashed lightgrey;
/*    background: url(/assets/images/sep.png) repeat-y left top;*/
    padding: 15px 10px 24px;
}
.mxr-carousel li .padding, .mxr-carousel li {
    position: relative;
}

.mxr-clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

img{
    display: inline-block;
}

.mxr-panes{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
        
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}