/* item list */

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.grid-group-item .thumbnail
{
  border-bottom: solid 3px silver;
}

.item.grid-group-item .thumbnail:hover
{
  border-bottom: solid 3px #009688;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}

.thumbnail > .img-container > img {
    max-height: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.img-container {
    max-width: 100%;
    height: 165px;
}



.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
    height: 5%;
}

.list-group-item-heading
{
  height: 5%;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.price{
  font-size: 1.2em; 
  color: black;
  line-height: 1.4;
  margin-bottom: 20px;
}

.other-prices{
  font-size: 1em; 
  color: gray;
  line-height: 1.4;
  margin-bottom: 20px;
}

.other-price:hover{
  color:black; 
}
