/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 0em 15em 0 15em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* navbar top */
.top-margin {
  padding-top: 60px;
}


.navbar-inverse {
    
    border-bottom: 1px solid #009688;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-inverse .navbar-text:hover{
  color:#009688;
}

/* current value bar */

.current-value {
  font-weight: bold; 
}


/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

