
.centering{
text-align: center
}

h2{
    color: #eaeaea;
    font: 350% gabriola,sans-serif;
    font-variant: small-caps;
}

@media screen and (max-width: 1000px) {
  h2{
    color: #eaeaea;
    font: 150% gabriola,sans-serif;
    font-variant: small-caps;
}
}
label{
    font-size:24px;
    color:#808000;
}


input[type="number"]
{
    font-size:22px;
    color:#eaeaea; background-color: transparent; border:0px;border-bottom: 2px solid #eaeaea;
}

input[type="number"]:focus ,
input[type="number"]:active
{
    outline: none;
    font-size:24px;
    color:#808000; background-color: transparent;  border:0px;border-bottom: 2px solid #808000;
}

button{
    background-color: transparent;
    color: #eaeaea;
    border: 0px;
    font-variant: small-caps;
}

button:focus,
button:active{
    outline: none;
}

button:hover{
    font-weight: bold;
    color: #808000;
    background-color: lightgoldenrodyellow;
}

.row md-slide-toggle{
    color:#eaeaea; 
    font-size: 20pt;
}

md-slide-toggle .md-slide-toggle-container .md-slide-toggle-thumb,
md-slide-toggle .md-slide-toggle-bar {
    background-color:#808000; 
}

md-slide-toggle .md-slide-toggle-thumb-container> .md-primary.md-checked .md-slide-toggle-thumb{
    background-color: yellow;
}