
.centering{
text-align: center
}

h2{
    color: #eaeaea;
     font-size: 200%;
    font-variant: small-caps;
        margin-top:20px;
    margin-bottom: 45px;
}

@media screen and (max-width: 1000px) {
  h2{
    color: #eaeaea;
    font-size: 200%;
    font-variant: small-caps;
        margin-top:20px;
    margin-bottom: 45px;
}
}
.currency{
    
    color:#ffd700;
}
label{
    font-size:34px;
    font-weight: normal;
}

input[type="number"]
{
    font-size:34px;
    color:#eaeaea; background-color: transparent; border:0px;border-bottom: 2px solid #eaeaea;

}

input[type="number"]:focus ,
input[type="number"]:active
{
    outline: none;
    font-size:34px;
    color:#ffd700; background-color: transparent;  border:0px;border-bottom: 2px solid #ffd700;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
    background: url('/assets/images/search_start.png') no-repeat center top;
    color: #eaeaea;
    border: 0px;
    height: 50px;
    font-variant: small-caps;
    font-size:180%;
    margin-top:35px;
    margin-bottom: 25px;
}

button:focus,
button:active{
    outline: none;
}

button:hover{
    background: url('/assets/images/search.png') no-repeat center top;
    color: #ffd700;
}

.mxr-slide-toggle-lbl{
    color:white; 
    font-size: 16px;
    font-weight: normal;
}

md-slide-toggle .md-slide-toggle-container .md-slide-toggle-thumb,
md-slide-toggle .md-slide-toggle-bar {
    background-color:#eaeaea; 
}

.md-checked   .md-slide-toggle-thumb {
	background-color: #ffd700;
}
