.mxr-fullscreen {
width: 100%; height: 100%; top: 0; left: 0;
background: url(assets/images/fashion_index.jpg) no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/** margins **/
.mxr-centered-margins { 
  margin: 0em 5em 0 5em; 
}

@media screen and (min-width: 1000px) {
  .mxr-centered-margins { 
    margin: 0em 15em 0 15em; 
  }
}

@media screen and (max-height: 500px) {
  .mxr-required-min-height { 
    display: none; 
  }
}


.mxr-force-to-bottom{
      position:absolute;
  bottom: 55px;
  left: 50%;
  margin-left: -50%;
  width: 100%;
}

h1{
  background: url("/assets/images/viciousshop_logo.png") no-repeat; background-size: contain;
  color: transparent;
  font-size:400%;
}

@media screen and (max-width: 1000px) {
  h1{
  background: url("/assets/images/viciousshop_logo.png") no-repeat; background-size: contain;
  color: transparent;
  font-size:200%;
  }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #131313;
    width: 350px;
    height: 48px;
    z-index: 500;
    margin-top: 20px;
    display: inline-block;
}